.header {
    padding: 1.5rem 20rem;
    background-color: rgba(23, 22, 22, 0.55);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.highlighted {
    font-size: 2.2rem;
    font-weight: bold;
    -webkit-text-stroke: 3px #c10f1b;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #c10f1b;
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #c10f1b;
}

.nav-links a:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 1rem 4rem;
        background-color: rgba(23, 22, 22, 0.95);
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(23, 22, 22, 0.95);
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
        transform: translateY(-200%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.open {
        transform: translateY(0);
    }
}